
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.4.1
  creationTimestamp: null
  name: profiledefinitions.weave.works
spec:
  group: weave.works
  names:
    kind: ProfileDefinition
    listKind: ProfileDefinitionList
    plural: profiledefinitions
    singular: profiledefinition
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: ProfileDefinition is the Schema for the profiles API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: ProfileDefinitionSpec defines the desired state of ProfileDefinition
            properties:
              artifacts:
                description: Artifacts is a list of Profile artifacts
                items:
                  description: Artifact defines a bundled resource of the components
                    for this profile.
                  properties:
                    helm_chart:
                      description: HelmChart defines the name of the chart at the
                        remote repository
                      type: string
                    helm_chart_version:
                      description: HelmChartVersion defines the version of the chart
                        at the remote repository
                      type: string
                    helm_url:
                      description: HelmURL is the URL of the Helm repository containing
                        a Helm chart and possible values
                      type: string
                    kind:
                      description: 'Kind is the kind of artifact: HelmChartLocal or
                        Kustomize'
                      type: string
                    name:
                      description: Name is the name of the Artifact
                      type: string
                    path:
                      description: Path is the local path to the Artifact in the Profile
                        repo
                      type: string
                  type: object
                type: array
              description:
                description: Description is some text to allow a user to identify
                  what this profile installs.
                type: string
            type: object
          status:
            description: ProfileDefinitionStatus defines the observed state of ProfileDefinition
              This is not used
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
