name: Acceptance

on:
  pull_request: {}

jobs:
  test:
    name: Acceptance
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: actions/setup-go@v2
        with:
          go-version: '^1.16'
      - name: Cache go-build and mod
        uses: actions/cache@v2
        with:
          path: |
            ~/.cache/go-build/
            ~/go/pkg/mod/
          key: ${{ hashFiles('go.sum') }}
      - uses: actions/setup-go@v2
        with:
          go-version: '^1.16'
      - name: Setup Kind CLI
        run: |
          sudo curl -sSLo /usr/local/bin/kind https://github.com/kubernetes-sigs/kind/releases/download/v0.10.0/kind-linux-amd64
          sudo chmod +x /usr/local/bin/kind
      - name: Setup Kubectl
        uses: azure/setup-kubectl@v1
        id: install
      - name: Setup Ginkgo
        run: |
          go get -u github.com/onsi/ginkgo/ginkgo
      - name: Setup Flux v2 CLI
        uses: fluxcd/flux2/action@main
      - name: install libgit
        run: |
          export LIBGIT2_VER=1.1.0
          curl -L https://github.com/libgit2/libgit2/releases/download/v$LIBGIT2_VER/libgit2-$LIBGIT2_VER.tar.gz -o /tmp/libgit2.tar.gz
          tar -xvf /tmp/libgit2.tar.gz -C /tmp/
          mkdir /tmp/libgit2-$LIBGIT2_VER/build && cd /tmp/libgit2-$LIBGIT2_VER/build
          cmake .. -DCMAKE_INSTALL_PREFIX=/usr
          sudo cmake --build . --target install
      - name: Acceptance
        run: |
          sudo sysctl net/netfilter/nf_conntrack_max=524288
          PATH=$PATH:$(go env GOPATH)/bin make acceptance

